<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}FlaskApp{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
    <!-- Custom CSS -->
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
