{% extends 'index.html' %}

{% block content %}
<section>
    <h2>Контакти</h2>
    <form>
        <div class="mb-3">
            <label for="name" class="form-label">Ім'я</label>
            <input type="text" class="form-control" id="name" placeholder="Ваше ім'я">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Ваш email">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Повідомлення</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Відправити</button>
    </form>
</section>
{% endblock %}
