{% extends 'index.html' %}

{% block content %}
<section>
    <h2>Про себе</h2>
    <p>Я Долішня Юлія, мені 20 років і я народилася в Івано-Франківську</p>
    <img src="{{ url_for('static', filename='images/photo.jpg') }}" alt="Фото" class="img-thumbnail">
</section>

<section>
    <h2>Освіта</h2>
    <p>Закінчила Відокремлений структурний підрозділ Фахового коледжу електронних приладів Івано-Франківського університету нафти й газу</p>
    <p>Зараз навчаюся в Карпатському національному університеті імені Василя Стефаника.</p>
</section>

<section>
    <h2>Навички</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>Django</li>
        <li>HTML/CSS/JS</li>
    </ul>
</section>

<section>
    <h2>Технології</h2>
    <p>Bootstrap, Jinja2, Git</p>
</section>

<section>
    <h2>Досвід роботи / Проекти</h2>
    <p>Немає</p>
</section>
{% endblock %}
