<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="menu">
            <ul>
                <li><a href="{{ url_for('users.greetings', name='John') }}" class="{% if request.path == url_for('users.greetings', name='John') %}active{% endif %}">Головна Users</a></li>
                <li><a href="{{ url_for('users.admin') }}" class="{% if request.path == url_for('users.admin') %}active{% endif %}">Адмін</a></li>
                <li><a href="{{ url_for('products.product_list') }}" class="{% if request.path == url_for('products.product_list') %}active{% endif %}">Продукти</a></li>
            </ul>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
